
:root { 
    --mother: #EA40A4;
    --father: #3A82EE;
    --personal: var(--primary);
    --light: #EEE;
    --gray: #888;
    --dark: #313154;
    --danger: #ff5b57;

    --shadow: 0 1px 4px rgba(0, 0, 0, 0.1);

    --Flow: 0px 0px 4px rgba(58, 130, 238, 0.75);
    --Mlow: 0px 0px 4px rgba(234, 64, 164, 0.75);
}

body {
    font-family: 'montserrat', 'sans-serrif';
    color: var(--gray);
    background: var(--light);
    margin: 10px;
}

h1 {
    color: var(--dark);
    font-family: 'montserrat', 'sans-serrif';

    font-size: 38px;
    font-style: italic;
    font-weight: 1000;
    text-align: center;
    border: 1px;
    width: 50rem;
    border-radius: 1.5rem;
    padding: 1.4rem;
    padding-left: 4rem;
    padding-right: 4rem;
    background-color: white;
    box-shadow: var(--shadow);
    margin-top: -0.5rem;
    margin-bottom: 2px;
}

#elementContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    padding: 30px;
    width: 500px;
    align-items: center;
}

button {
    font-family: 'montserrat', 'sans-serrif';
    font-size: 34px;
    border: none;
    padding: 10px 40px;
    margin: 20px;
    border-radius: 8px;
    color: white;
    background-color: var(--gray);
    background-image: var(--gray);
    box-shadow: var(--shadow);
}

button:hover, .metters:hover {
    background-color: var(--gray);
    background-image: linear-gradient(to right, #cd2185, #1760ce);
    color: white;
    cursor: pointer;
}

button:active {
    background-color: grey;
    transform: translateY(2px);
}

.buttonContainer {
    margin: 10px;
    margin-top: -11.3%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

img {
    width: 40rem;
    margin: 0px;
    padding: 0px;
    margin-top: -3%;
}

#createPupButton {
    visibility: hidden;
}